@import "tailwindcss";
@import "tailwindcss-primeui";

:root {
  --p-select-overlay-background: #fffcf2;
  --p-select-overlay-border-color: rgba(235, 94, 40);
  --p-select-overlay-border-radius: 4px;
  --p-select-option-focus-background: rgba(235, 94, 40, .4);
  --p-select-option-selected-focus-background: rgba(235, 94, 40);
  --p-select-option-selected-background: rgba(235, 94, 40);
  --p-select-option-selected-color: #fff;
  --p-select-option-selected-focus-color: #fff;
  --p-select-option-padding: 8px 16px;
  
}

#app .p-inputtext,
#app .p-select {
  border: 2px solid #333;
  transition: all ease-in-out .4s;
  border-radius: 4px;
  padding: 6px 12px;
}

#app .p-inputtext:hover,
#app .p-select:hover {
  border-color: rgba(235, 94, 40, .6);
}

#app .p-inputtext:focus,
#app .p-select:focus {
  border-color: rgba(235, 94, 40, .6);
  background-color: rgba(235, 94, 40, .2);
}

html,
body {
  height: 100%;
  font-size: 16px;
}

body {
  background-color: #fffcf2;
  color: #333;
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24;
}